* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid red; */
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../assets/pattern-circles-crosses.png");
  background-repeat: repeat repeat;
  background-position: center;
}

header {
  padding: 36px 12px 12px 12px;
  padding-top: 36px;
  background-color:rgba(176, 190, 197, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 60px;
  color: #37474F;
  margin-bottom: 12px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-family: "Luckiest Guy", cursive;
  font-size: 88px;
}

button {
  border: none;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

#code {
  padding-top: 12px;
  max-width: 1000px;
}

.computerCode {  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

.turn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  transform: scale(1.2);
  transition: transform 150ms ease-in;
}

#history {
  padding: 0 12px;
  max-width: 1000px;
  margin: 0 auto;
}

#guess {
  padding: 16px 12px 24px 12px;
  background-color:rgba(239, 235, 233, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.currentTurn {
  max-width: 1000px;
}

.guessCode {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

.codeCheck {
  display: grid;
  place-items: center;
}

.codeCheckFill {
  color: #4A148C;
}

.codeCheckNofill {
  color: #F50057;
}

#controls {  
  /* display: flex;
  flex-direction: row; */
  margin-top: 24px;
  width: 100%;
  max-width: 1000px;
  /* align-items: center; */
} 

#actions {
  /* flex: 5; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#guessModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

.modalContent {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 720px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  place-items: center;
  justify-content: center;
  align-content: center;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.activeGuessBorder {
  border: 1px solid #F50057;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  body {
    max-width: 992px;
    background-size: 50%;
  }
    h1 {
      font-size: 42px;
    }
    h3 {
      font-size: 76px;
  }
}

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
    background-size: 60%;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 60px;
  }
}

@media screen and (max-width: 575px) {
  body {
      max-width: 575px;
      background-size: 75%;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 48px;
  }
}