* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid red; */
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  width: 100%;
  /* max-width: 1000px; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../assets/pattern-circles-crosses.png");
  background-repeat: repeat repeat;
  background-position: center;
}

header {
  padding: 36px 12px 12px 12px;
  padding-top: 36px;
  background-color:rgba(176, 190, 197, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 60px;
  color: #37474F;
  margin-bottom: 12px;
}

h2 {
  font-size: 48px;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  place-self: center;
}

#code {
  padding-top: 12px;
  max-width: 1000px;
}

.computerCode {  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

.settings {
  display: grid;
  place-items: center;
}
.settings > img {
  width: 52px;
  color: #1565C0;
}
.settings > img:hover {
  transform: scale(1.25);
  transition: transform 150ms ease-in;
}

#history {
  padding: 0 12px;
  max-width: 1000px;
  margin: 0 auto;
}

#guess {
  padding: 16px 12px 24px 12px;
  background-color:rgba(255, 249, 196, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.guessTurn {
  max-width: 1000px;
}

.guessCode {  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

.codeCheck {
  display: grid;
  place-items: center;
}

.codeCheckFill {
  color: #4A148C;
}

.codeCheckNofill {
  color: #F50057;
}

#controls {  
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  width: 100%;
  max-width: 1000px;
  align-items: center;
} 

#turnCount {
  flex: 3;
}

#actions {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#actions > img {
  padding-left: 24px;
}

@media screen and (max-width: 992px) {
  body {
    max-width: 992px;
    background-size: 50%;
}
  h1 {
    font-size: 42px;
  }
  .settings > img {
    width: 48px;
  }
  /* #actions > img {
    padding-left: 72px;
  } */
}

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
    background-size: 60%;
}
h2 {
  font-size: 36px;
}
  .settings > img {
    width: 44px;
  }
  #actions > img {
    padding-left: 48px;
  }
}

@media screen and (max-width: 575px) {
  body {
      max-width: 575px;
      background-size: 75%;
  }
  h2 {
    font-size: 28px;
  }
  .settings > img {
    width: 40px;
  }
}